li{list-style:  none;
display: inline;}
a{text-decoration: none;
color:	#FFFFFF; }
ul{background-color:  #423F3F;
 z-index: 1;
    position: fixed;
    width: 100%;
    margin-top: -20px;
    height: 60px;
    margin-bottom: 10px;}
body{margin: 0;}
head{margin: 0;}
#menu{width: 100%;
margin: 0;
border-radius: 5px;}
#imagenportada img
	{
		margin-top: 2%;
		width: 100%;
		height: 100%;
		position: relative;
		margin-bottom: 0;
	}
#infoMitadPortada{
	position:absolute;
	background-color: #DED5D5;
	position:absolute;
	top: 20%;
	left: 35%;
	width: 30%; 
	height: 40% 
	opacity: 0.5;
	filter: Alpha(opacity=50);
}
#infoMitadPortada h1
{
	text-align: center;	
	color: #5D5B5B;
	font-family: 'Roboto', sans-serif;
	
}
#intSesion
	{
		border: none;
		margin-left: 35%;
		background-color: #DED5D5;
	}
#barritaDebajoDeFoto {

	width: 100%;
	height: 5%;
	background-color: #DAD3D3;
	margin-top: 0%;
	position: relative;
}
#barritaDebajoDeFoto p
	{
		margin: 0;
		text-align: center;
		font-family: 'Roboto', sans-serif;
	}

#subtitulo{
	margin-top: 5%;
	width: 100%;
}

#subtitulito
	{
		width: 70%;
		margin-left: 15%;
		text-align: center;
		font-family: 'Roboto', sans-serif;
	}
#subtitulo h2
	{
		margin-top: 5%;
		width: 70%;
		margin-left: 15%;
		text-align: center;
		font-family: 'Roboto', sans-serif;
	}

#librosMuestra
{
	margin-left: 10%;
	display: inline;
}



#librosMuestra img
	{
		border-radius: 2px;
		border-color: #05530C;
		height: 70%;
		width: 25%;
		
	}
footer {
	position: absolute;
	height: 50px;
	width: 100%;
	background-color: #423F3F;
	
}

footer p 
	{
		
		color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	}
#botoncito	{
	margin-left: 30%;
	text-decoration: none;
	color: #5D5B5B;
}